@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-neutral-700;
}

.text-stroke-3 {
  -webkit-text-stroke: 3px #f59e0b;
}

.zoomEffect:hover img {
  animation: zoom 0.5s linear;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }

  to {
    @apply scale-100;
  }
}
